@charset "UTF-8";
@font-face {
    font-family: 'love';
    src: url('fonts/Lover.otf') format('opentype');
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to top, #d20abba7, #ffffffd9);
}
main {
    border-radius: 10px;
    background-color: rgba(97, 8, 205, 0.455);
    box-shadow: 5px 5px 15px rgba(21, 23, 24, 0.57);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    font-size: 3em;
    font-family: 'love', Arial, Helvetica, sans-serif;
    background-color: #ff00a2c2;
    color: #bfb1bde7;
    text-align: center;
    text-shadow: 2px 2px 10px #0000007b;
}

h2 {
    font-size: 30px;
    font-family: 'love', Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #bfb1bde7;
    color: #d30000;
}

p {
    text-indent: 1cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify; 
}